

.image {
    border: 1px solid;
    border-radius: 50%;
    width:200px;
    height: 170px;
    margin-top:10px ;
}
.container__form {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 90%;
    align-items: center;
    /* border: 1px solid; */

}